@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,500");

html {
	-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
}

body {
	font: 15px/1.5 "Roboto Mono", Helvetica, sans-serif;
	color: #ebebea;
	background: #36393f;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: inherit;
	position: relative;
	text-decoration: none;
}

a:hover, a:focus {
	color: #65ee8e;
}

.text {
	font-size: 14px;
}

.footer {
	position: fixed;
	left: 45px;
	bottom: 92px;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-align: start;
	align-items: flex-start;
}

@media (max-width: 1024px) {
	.footer {
		left: 45px;
		bottom: 92px;
        display: flex;
	}
}

@media (max-width: 950px) {
	.footer {
		left: 45px;
		bottom: 92px;
		-webkit-box-align: start;
		align-items: flex-start;
	}
}

.footer-links {
	margin-top: 1em;
	line-height: 1;
}

@media (max-width: 950px) {
	.footer-links {
		display: inline;
	}
}

@media (hover: hover) {
	.footer-links:nth-child(odd):hover~ {
		background-color: #65ee8e;
	}

	.footer-links:nth-child(2n):hover~ {
		background-color: #65ee8e;
	}

	.link-discord:hover~ {
		-webkit-animation: one 1s .25s linear forwards;
				animation: one 1s .25s linear forwards;
	}

	.link-twitter:hover~ {
		-webkit-animation: two 1s .25s linear forwards;
				animation: two 1s .25s linear forwards;
	}

	.link-instagram:hover~ {
		-webkit-animation: three 1s .25s linear forwards;
				animation: three 1s .25s linear forwards;
	}

	.link-github:hover~ {
		-webkit-animation: four 1s .25s linear forwards;
				animation: four 1s .25s linear forwards;
	}
}